*{
    box-sizing: border-box;
    text-align: center;
    margin-top: 2em;
}
body{
    width: 90vw;
    margin: auto;

    
}
main{
    font-size: 2em;
    border: solid 1px black;
}
.nav__menu{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}
.logo__pokemon{
    height: 100px;
    width: 200px;
}
img{
    height: 200px;
    width: 200px;
}

#habilidades{
    padding-top: 10px;
}

#pokemon_name{
    text-transform: capitalize ;
    font-weight: bold;
}
#pokemon_type{
    text-transform: capitalize;
}